<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let alumno of alumnos" [routerLink]="['alumno',alumno.matricula]">
      <ion-avatar slot="start">
        <img src="assets/foto.jpg" alt="">
      </ion-avatar>
      <ion-label>
        <h2>{{alumno.nombre}} {{alumno.Apellido}}</h2>
        <p>{{alumno.matricula}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
