<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let alumno of alumnos">
      <!--Opciones Inicio-->
      <ion-item-options side="start">
        <ion-item-option color="success"><ion-icon name="heart" size="large" style = "color: white;"></ion-icon></ion-item-option>
      </ion-item-options>

      <!--Item-->
      <ion-item [routerLink]="['alumno',alumno.matricula]">
        <ion-avatar slot="start">
          <img src="assets/foto.jpg" alt="">
        </ion-avatar>
        <ion-label>
          <h2>{{alumno.nombre}} {{alumno.Apellido}}</h2>
          <p>{{alumno.matricula}}</p>
        </ion-label>
      </ion-item>

      <!--Opciones Fin-->
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminarAlumno(alumno.matricula)"><ion-icon name="trash" size="large" style = "color: white;"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
