<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button *ngIf="!agregar" (click)="toglar()" color="success">Nuevo elemento</ion-button>
  
  <ion-grid *ngIf="agregar">
    <ion-row>
      <ion-col size = 2>Nombre</ion-col>
      <ion-col>
        <ion-input [(ngModel)] = "nombre"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size = 2>Apellidos</ion-col>
      <ion-col>
        <ion-input [(ngModel)] = "apellido"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size = 2>Matricula</ion-col>
      <ion-col>
        <ion-input [(ngModel)] = "matricula"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size = auto>
        <ion-button (click)="toglar()" color="danger">Cancelar</ion-button>
      </ion-col>
      <ion-col size = auto>
        <ion-button (click)="nuevoalumno()" color="success">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



  <!--Imprime a cada alumno-->
  <ion-grid *ngFor="let alumno of alumnos">
    <ion-row *ngIf="alumno">
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-grid> <!--Contenedor de datos-->
              <ion-row>
                <ion-col size=8> <!--Columna datos-->
                  <ion-row> <!--Row nombre-->
                    <ion-col>
                      Nombre
                    </ion-col>
                    <ion-col>
                      {{alumno.nombre}}
                    </ion-col>
                  </ion-row>
                  <ion-row> <!--Row apellido-->
                    <ion-col>
                      Apellidos
                    </ion-col>
                    <ion-col>
                      {{alumno.apellido}}
                    </ion-col>
                  </ion-row>
                  <ion-row> <!--Row matricula-->
                    <ion-col>
                      Matricula
                    </ion-col>
                    <ion-col>
                      {{alumno.matricula}}
                    </ion-col>
                  </ion-row>
                </ion-col>
                
                <ion-col> <!--Columna foto-->
                  <ion-icon name="person-circle" style="font-size: 1000%"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid> <!--FIN-Contenedor de datos-->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
