<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #agregarAlumno="ngForm" (ngSubmit)="onSubmit(agregarAlumno)">
    <ion-grid>
      <ion-row>
        <ion-col size=2>Nombre</ion-col>
        <ion-col>
          <ion-input [(ngModel)]="Nombre" name = "nombreInput"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=2>Apellidos</ion-col>
        <ion-col>
          <ion-input [(ngModel)]="Apellido" name = "apellidoInput"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=2>Matricula</ion-col>
        <ion-col>
          <ion-input [(ngModel)]="Matricula" name = "matriculaInput"></ion-input>
        </ion-col>
      </ion-row>
    
      <ion-row>
    
        <ion-col size=auto>
          <ion-button color="danger" (click)="limpiarEntrada()">Limpiar</ion-button>
        </ion-col>

        <ion-col size=auto>
          <ion-button type="submit" color="success">Guardar</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>
</ion-content>
